<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Employee</title>
</head>
<body>
    <h1>Create Employee</h1>
    <form th:action="@{/create}" th:object="${employee}" method="post">
        <label for="firstName">First Name:</label>
        <input type="text" th:field="*{firstName}" />
        
        <label for="lastName">Last Name:</label>
        <input type="text" th:field="*{lastName}" />
        
        <label for="salary">Salary:</label>
        <input type="text" th:field="*{salary}" />
        
        <label for="state">State:</label>
        <input type="text" th:field="*{state}" />
        
        <label for="country">Country:</label>
        <input type="text" th:field="*{country}" />
        
        <button type="submit">Submit</button>
    </form>
</body>
</html>
